@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);

  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background-color: var(--clr-pale-blue);
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -10%;
  // code bellow centers my card
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: var(--clr-very-pale-blue);
  background-color: white;
  width: 20rem;
  color: var(--clr-desaturated-blue);
  border-radius: 1rem;
  overflow: hidden;
  filter: drop-shadow(0 5px 5px var(--clr-desaturated-blue));
  .banner-container img {
    width: 100%;
    height: 100%;
  }
  .text-container {
    padding: 2rem;
    text-align: center;
    h1 {
      color: var(--clr-dark-blue);
      font-weight: 900;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      // margin-top: 1rem;
      & + p {
        margin-bottom: 1rem;
        font-size: 15px;
        line-height: 1.5;
      }
    }
    .advertisement {
      display: flex;
      background-color: var(--clr-very-pale-blue);
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: .5rem;
      align-items: center;
      text-align: start;
      .icon-music {
        // background-color: var(--clr-desaturated-blue);
        margin-right: 1rem;
      }
      p {
        line-height: 1.5;
        a {
          color: var(--clr-dark-blue);
          font-weight: 700;
        }
      }
      > a {
        color: var(--clr-bright-blue);
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          opacity: .5;
        }
      }
    }
    button {
      // display: block;
      width: 100%;
      background-color: var(--clr-bright-blue);
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border: none;
      border-radius: .5rem;
      filter: drop-shadow(0 12px 4px var(--clr-pale-blue));
      color: var(--clr-very-pale-blue);
      font-weight: 700;
      &:hover {
        cursor: pointer;
        opacity: .5;
      }
    }
    .btn-cancel {
      font-weight: 700;
      cursor: pointer;
      &:hover {
        color: var(--clr-dark-blue);
      }
    }
  }
}

.attribution {
  font-size: 11px; text-align: center;
  transform: translate(0, 20px);
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media (min-width: 50rem) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }
  .card {
    width: 24rem;
  }
}
